.footer-container{
  background-color: #eaeaea;
  margin-bottom: 50px;
  position: relative;
  padding-left: 171px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 550;
  font-size: 17px;
}