/** header **/
.header {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    margin-bottom: 23px;
  }
  /** image-container **/
  .image-container {
    margin-left: 61px;
  }
  
  .image-container img {
    width: 120px;
  }

/** menu-container **/
.menu-container {
    margin-right: 57px;
    color: #7b2159;
  }
  .menu-container ul {
    display: flex;
    flex-wrap: wrap;
    gap: 52px;
  }
  ul li {
    list-style-type: none;
    font-weight: 600;
  }