.details-container{
    display: flex;
    justify-content: space-between;
}

.heading-container{
    padding-left: 99px;
}

.place-container img{
    width: 1000px;
  height: 700px;
  object-fit: cover;
}
.place-heading{
    margin-top: 200px;
    font-size: 70px;
    color: #7b2159;
}

.place-description{
    width: 914px;
    height: 252px;
    background-color: #7b2159;
    margin-top: 21px;
    position: absolute;
    color: white;
    padding-top: 80px;
    padding-left: 67px;
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 2px;
}

