button{
    background-color: #7f1b5b;
    padding-top: 11px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 11px;
    font-size: 18px;
    width: 160px;
    height: 49px;
    color: #ffffff;
    border: 2px #702053;

}