button{
  margin: 8px;
  font-size: 13px;
  width: 129px;
  height: 37px;
  border: 2px #702053;
  cursor: pointer;
  font-weight: 700;
  background-color: black;
  color: white ;


}
#wishlist-button{
  background-color: white;
  color:rgb(149,149,149);
}


button .active{
  background-color: black !important;
}



