/** START-- Confirmation Page **/

.confirmation-message-container{
    background-color: #f7f7f7;
    top:0;

}
.order-confirmation-heading{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
}
/** END-- Confirmation Page  **/

.confirmation-page-container{
    display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        align-items: center;
        height: 374px;
        margin-left: 52px;
}
.confirmation-modal{
     padding-top: 137px ; 
     width: 90%;
    margin: 0 auto;
}
.confirmation-cards{
    width: 25%;
    padding: 12px;
    margin-bottom: 29px;
  }
  
  .images  img{
    height: 190px;
    width: 100%;
      border-radius: 0px 8px 8px 18px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  .products-details {
    margin-left: 18px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  .product-cards-heading {
    font-size: 15px;
    font-weight: 550;
    color: #000;
    margin-bottom: 6px !important;
  }
  
  .product-price{
    margin-right: 7px;
    font-weight: 550;
    font-size: 15px;
  }
  .cart-description {
    font-size: 12px;
    line-height: 1.7;
    color: #000;
    overflow: hidden;
    margin-left: 17px;
    font-weight: 400;
    margin-bottom: 10px;
}


  .product-cards {
    transition: all 0.3s ease; 
  }
  
 .product-quantity{
    font-size: 12px;
    margin-left: 18px;
    margin-bottom:6px ;
 }
 .order-confirmation{
    margin-left: 76px;
    margin-bottom: 6px;
 }